[submodule "source/RailgunNet"]
	path = source/RailgunNet
	url = https://github.com/araex/RailgunNet.git
[submodule "source/LiteNetLib"]
	path = source/LiteNetLib
	url = https://RevenantX/LiteNetLib.git
[submodule "source/BannerlordTestingEssentials"]
	path = source/BannerlordTestingEssentials
	url = https://Bannerlord-Coop-Team/BannerlordTestingEssentials.git
