<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.1.1" targetFramework="net472" developmentDependency="true" />
  <package id="Lib.Harmony" version="2.0.1" targetFramework="net472" />
  <package id="Mono.Reflection" version="2.0.0" targetFramework="net472" />
  <package id="NLog" version="4.7.2" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net472" />
  <package id="Stateless" version="5.1.2" targetFramework="net472" />
</packages>